[submodule "Submodules/GreetingsLibrary"]
	path = Submodules/GreetingsLibrary
	url = https://seluquang@github.com/seluquang/GreetingsLibrary.git
[submodule "Submodules/JSONKit"]
	path = Submodules/JSONKit
	url = https://seluquang@github.com/johnezang/JSONKit.git
